{{! Footer
================================================== }}
<footer class="bs-footer">
  <div class="more-info">
    <div class="container">
      {{> btn-social }}
    </div>
  </div>

  <p>Sellside was founded by <a href="http://twitter.com/jonschlinkert" target="_blank">@jonschlinkert</a> and <a href="http://twitter.com/doowb" target="_blank">@doowb</a>.</p>
  <ul class="footer-links">
    <li><a href="http://sellside.com">Home</a></li>
    <li class="muted">&middot;</li>
    <li><a href="http://sellside.com/blog">Blog</a></li>
  </ul>
</footer>