<div class="banner">
  <div class="container">
    Assemble v{{ core.version }} has been released -
    <strong>
      <a href="{{ core.master }}CHANGELOG.md">See what's new</a>.
    </strong>
  </div>
</div>
