<div class="banner">
  <div class="container">
    Assemble v{{ _assemble.version }} has been released -
    <strong>
      <a href="{{ _assemble.master }}CHANGELOG.md">See what's new</a>.
    </strong>
  </div>
</div>
