# Numerous always-ignore extensions
*.csv
*.dat
*.diff
*.err
*.gz
*.log
*.orig
*.out
*.pid
*.rar
*.rej
*.seed
*.swo
*.swp
*.vi
*.yo-rc.json
*.zip
*~
.ruby-version
lib-cov

# OS or Editor folders
*.esproj
*.komodoproject
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.idea
.komodotools
.project
.settings
.tmproj
nbproject
Thumbs.db

# logs
pids
logs
results

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
_gh_pages
bower_components
node_modules
npm-debug.log
temp
tmp

# Only ignore the root vendor
vendor
!styles/vendor

# Planned
_draft
content/blog
content/boilerplates
content/examples
content/tutorials
build-chain.fw.png
TODO.md