---
area: blog
title: Blog
published: false
---

{{! MASTHEAD
=========================================== }}
<header class="masthead subhead">
  <div class="container">
    <div class="row">
      <div class="col col-lg-6">
        <h1> {{ uppercase title }} </h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="panel panel-docs">



  </div>
  <div class="alert">Comment block here</div>
</div>