---
title: Home
description: <%= pkg.description %>
layout: default.hbs
---

{{! .jumbotron component
================================================== }}
{{> jumbotron}}


{{! .teaser component
================================================== }}
{{> teaser-link home.teaser.masthead }}


{{! page content
================================================== }}
<div class="container">
  <div class="panel panel-clear">
    <section class="gallery">
      <div class="row">
        {{#each gallery}}
          {{> thumbnail . }}
        {{/each}}
      </div>
    </section>
  </div>
</div>


{{! .banner component
================================================== }}
{{> banner home.banner }}

