---
title: Home
description: <%= pkg.description %>
layout: base.hbs
---
{{! .jumbotron component
================================ }}
{{> jumbotron jumbotron }}


{{! .teaser component
================================ }}
{{> teaser teaser }}


{{! page content
================================ }}
<div class="container">
  <div class="panel panel-clear">
    <section class="gallery">
      <div class="row">
        {{> repos }}
      </div>
    </section>
  </div>
</div>


{{! .banner component
================================ }}
{{> banner banner }}

