{{#prettify}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#isnt title "Home"}} style="background: white;"{{/isnt}} data-spy="scroll" data-target=".bs-sidebar">


    {{!-- global navigation
    =================================== --}}
    {{> navbar }}


    {{!-- masthead
    =================================== --}}
    {{#is area 'docs'}}
      {{> masthead-docs }}
    {{/is}}
    {{#is area 'plugins'}}
      {{> masthead-plugins }}
    {{/is}}
    {{#is area 'helpers'}}
      {{> masthead-helpers }}
    {{/is}}
    {{#is area 'blog'}}
      {{> masthead-blog }}
    {{/is}}
    {{#is area 'boilerplates'}}
      {{> masthead-boilerplates }}
    {{/is}}


    {{!-- content
    =================================== --}}
    {{> body }}


    {{!-- footer scripts
    =================================== --}}
    {{> javascripts }}
    <script>
      $().showUp('.navbar');
    </script>
  </body>
</html>
{{/prettify}}