

<div class="band">
  <div class="container">
    <section class="gallery">
      <div class="row">
        {{#each thumbnails}}
        {{> gallery . }}
        {{/each}}
      </div>
    </section>
  </div>
</div>


<div class="band band-primary">
  <div class="container">
    <section class="gallery">
      <div class="row">
        {{#each thumbnails}}
        {{> gallery . }}
        {{/each}}
      </div>
    </section>
  </div>
</div>


<div class="band band-info">
  <div class="container">
    <section class="gallery">
      <div class="row">
        {{#each thumbnails}}
        {{> gallery . }}
        {{/each}}
      </div>
    </section>
  </div>
</div>


<div class="band band-slate">
  <div class="container">
    <section class="gallery">
      <div class="row">
        {{#each thumbnails}}
        {{> gallery . }}
        {{/each}}
      </div>
    </section>
  </div>
</div>


<div class="band band-gray">
  <div class="container">
    <section class="gallery">
      <div class="row">
        {{#each thumbnails}}
        {{> gallery . }}
        {{/each}}
      </div>
    </section>
  </div>
</div>


<div class="band band-social">
  <div class="container">
    <section class="gallery">
      <div class="row">
        {{#each thumbnails}}
        {{> gallery . }}
        {{/each}}
      </div>
    </section>
  </div>
</div>

