---
name: indicator
---
<a href="#" aria-label="{{aria-label}}" class="{{modifier}}" data-gotokey="{{gotokey}}">
  <span class="mail-status {{mail-status.modifier}}"></span>
</a>

{{#example}}
<a href="#" aria-label="You have no unread notifications" class="indicator-notification tooltip" data-gotokey="n">
  <span class="mail-status all-read"></span>
</a>
{{/example}}