---
title: Path
section: helpers-path
---
{{! THE HELPERS
=========================================== }}
<div class="container">
  <div class="panel panel-docs">
    {{md 'src/content/helpers/path/*.*'}}
  </div>
</div>