---
title: Strings
section: helpers-strings
---
{{! THE HELPERS
=========================================== }}
<div class="container">
  <div class="panel panel-docs">
    {{md 'src/content/helpers/strings/*.*'}}
  </div>
</div>