---
title: Miscellaneous
section: helpers-misc
---
{{! THE HELPERS
=========================================== }}
<div class="container">
  <div class="panel panel-docs">
    {{md 'src/content/helpers/misc/*.*'}}
  </div>
</div>