---
title: Content
section: helpers-content
---
{{! THE HELPERS
=========================================== }}
<div class="container">
  <div class="panel panel-docs">
    {{md 'src/content/helpers/content/*.*'}}
  </div>
</div>