---
title: Inflections
section: helpers-inflections
---
{{! THE HELPERS
=========================================== }}
<div class="container">
  <div class="panel panel-docs">
    {{md 'src/content/helpers/inflections/*.*'}}
  </div>
</div>