<h2>Button component</h2>

<h2>Small Buttons</h2>

{{> button button.info-small }}
{{> button button.primary-small }}
{{> button button.jade-small }}
{{> button button.success-small }}
{{> button button.warning-small }}
{{> button button.danger-small }}
{{> button button.inverse-small }}

<h2>Standard Buttons</h2>

{{> button button.info }}
{{> button button.primary }}
{{> button button.jade }}
{{> button button.success }}
{{> button button.warning }}
{{> button button.danger }}
{{> button button.inverse }}

<h2>Large Buttons</h2>

{{> button button.info-large }}
{{> button button.primary-large }}
{{> button button.jade-large }}
{{> button button.success-large }}
{{> button button.warning-large }}
{{> button button.danger-large }}
{{> button button.inverse-large }}

<h2>Jumbo Buttons</h2>

{{> button button.info-jumbo }}
{{> button button.primary-jumbo }}
{{> button button.jade-jumbo }}
{{> button button.success-jumbo }}
{{> button button.warning-jumbo }}
{{> button button.danger-jumbo }}
{{> button button.inverse-jumbo }}