{{#prettify}}
<!DOCTYPE html>
<html lang="en">
  <head>
  {{> head }}
  </head>
  <body style="{{#isnt title "Home"}}background: white;{{/isnt}}" data-spy="scroll" data-target=".bs-sidebar">

    {{!-- global navigation
    =================================== --}}
    {{> navbar }}

    {{!-- masthead
    =================================== --}}
    {{#is area 'helpers'}}
      {{> masthead-helpers }}
    {{/is}}
    {{#is area 'docs'}}
      {{> masthead-docs }}
    {{/is}}


    {{!-- page content
    =================================== --}}
    {{> body }}


    {{!-- footer scripts
    =================================== --}}
    {{> javascripts }}
    <script>
      $().showUp('.navbar');
    </script>
  </body>
</html>
{{/prettify}}