---
layout: base.hbs
---

{{!-- page content
=================================== --}}
<div class="container">
  <div class="row">

    {{!-- side navigation
    =================================== --}}
    <div class="col col-lg-3">
      <div class="sidebar">
        {{#is area 'helpers'}}
          {{> sidenav-helpers }}
        {{/is}}
        {{#is area 'blog'}}
          {{> sidenav-blog }}
        {{/is}}
        {{#is area 'boilerplates'}}
          {{> sidenav-boilerplates }}
        {{/is}}
        {{#is area 'docs'}}
          {{> sidenav-docs }}
        {{/is}}
      </div>
    </div>

    {{!> edit-template-link }}

    {{! main content
    =================================== }}
    <div class="col col-lg-9">
      <div class="panel panel-docs">
        <h1>{{page.title}}</h1>
        {{#markdown}}
          {{> body }} {{> generated-links.md }}
        {{/markdown}}
        <hr>
        <p><a href="{{site.templates.view}}/{{area}}/{{this.basename}}.md.hbs">See the template for this page → </a></p>
        {{> footer }}
      </div>
    </div>
  </div>
</div>
