<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#modifier}} class="{{.}}"{{/modifier}}>
    <a class="sr-only sr-only-focusable" href="#content">Skip to main content</a>

    <!-- sitewide navigation -->
    {{> nav-main }}


    <!-- Header -->
    {{#is slug "index"}}
      {{> jumbotron jumbotron }}
      {{> teaser teaser }}
    {{/is}}


    <!-- Content -->
    {{ body }}


    <!-- footer, used everywhere but blog -->
    {{#isnt slug 'blog'}}
      {{> footer }}
    {{/isnt}}


    <!-- sitewide javascripts -->
    {{> javascripts }}
  </body>
</html>