<header class="navbar navbar-fixed-top main-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{resolve 'index'}}" class="navbar-brand" title="{{site.title}}">{{site.brand}}</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

      <!-- nav items -->
      {{#context current=this}}
        {{nav 'nav-list' nav.main context=@current}}
      {{/context}}
    </nav>
  </div>
</header>